[submodule "valent"]
	path = packages/valent
	url = git@github.com:ylabidi/aur-valent.git
[submodule "meli"]
	path = packages/meli
	url = git@github.com:hazayan/pkg-meli.git
[submodule "paru"]
	path = packages/paru
	url = git@github.com:hazayan/pkg-paru.git
[submodule "ly"]
	path = packages/ly
	url = git@github.com:hazayan/pkg-ly.git
[submodule "niri"]
	path = packages/niri
	url = git@github.com:hazayan/pkg-niri.git
[submodule "perl-boolean"]
	path = packages/perl-boolean
	url = git@github.com:hazayan/pkg-perl-boolean.git
